<h1>Ejemplo </h1>

<p> Esta es una demo de Rails 3.0.0 para los estudiantes de la UCA
  <%= link_to (image_tag('logouca.png'), 'www.uca.edu.py/') %>
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
