<header>
  <%= image_tag("logo.png", :alt => "Jugando", :class => "round") %>
  <nav class="round">
    <ul>
      <%= link_to "Home", root_path %>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</header>